@import '../scss/normalize';
@import '../scss/vendor';

:root {
  --header-height: 160px;
  --header-height-min: 80px;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 7rem;
    --header-height-min: 7rem;
  }
}

:root {
  --accent-color: #961c2e;
  --dark-color: #2f2f2f;
  --dark-accent-color: #424242;
  --light-accent-color: #BDBDBD;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #757575;
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 5px;
  margin-bottom: 0;
}

ul li, ol li {
  margin-bottom: 5px;
  outline: 0;
}

ul li.active a {
  color: #daa556;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

ul li:before {
  content: "\2022";
  color: var(--accent-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

dl {
  margin-top: 0;
  margin-bottom: 2rem;
}

dt,
dd {
  line-height: 1.42857143;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

figure {
  margin: 0;
}

img {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::selection {
  background: var(--accent-color);
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: #000; /* WebKit browsers */
  transition: color .2s;
}

::-moz-placeholder {
  color: #000; /* Mozilla Firefox 19+ */
  transition: color .2s;
}

:-ms-input-placeholder {
  color: #000; /* Internet Explorer 10+ */
  transition: color .2s;
}

::placeholder {
  color: #000;
  transition: color .2s;
}

/* image align */
figure.align-right {
  margin: 30px 0 30px 30px;
}

.flex {
  display: flex;
}

.column.light {
  background-color: var(--dark-accent-color);
}

.ma-0 {
  margin: 0;
}

/*----------------------------------------------*/
/* 1.3 Floating & Alignment */
/*----------------------------------------------*/

.align-left {
  float: left;
  text-align: left;
}

.align-right {
  float: right;
  text-align: right;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**::after,*/
.container::after,
.row::after,
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}


/*----------------------------------------------*/
/* 1.4 Typography */
/*----------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.2;
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
}

h1.light, .h1, h2.light, .h2, h3.light, .h3, h4.light, .h4, h5.light, .h5, h6.light, .h6 {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3 {
  margin: 0 0 25px;
}

h5, h6 {
  letter-spacing: 1px;
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.4;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.4;
}

h3, .h3 {
  font-size: 1.4em;
  line-height: 1.4;
}

h4, .h4 {
  font-size: 1.1em;
  line-height: 1.4;
}

h5, .h5 {
  font-size: .83em;
  line-height: 1.25;
}

h6, .h6 {
  font-size: .67em;
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 20px 0;
}

p.light,
a.light {
  color: #EEEEEE;
}

p:empty {
  display: none;
}

small,
p.small {
  font-size: 85%;
}

mark {
  background-color: #fcf8e3;
  padding: 0.28rem;
}

dfn, cite, em, i {
  font-style: italic;
}

code, kbd, var {
  font-size: 14px;
}

code {
  background-color: #f9f2f4;
}

abbr {
  border-bottom: 0.1px dotted #666;
  cursor: help;
}

::placeholder {
  color: #494949;
}

/** . Text Align
--------------------------------------------------------------*/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lead {
  font-size: 120%;
  line-height: 1.7em;
}

.text-lead strong {
  font-size: 115%;
  font-weight: 500;
}

.text-muted {
  color: #777;
}

.text-pri {
  color: #ff9697;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/*--------------------------------------------------------------
/** 8. Button Styles
--------------------------------------------------------------*/
a.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {
  background-image: none;
  background: var(--accent-color);
  text-decoration: none !important;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.75em 1.5em;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  touch-action: manipulation;
  user-select: none;
}

.btn:hover,
.btn:focus,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="file"]:focus,
input[type="file"]:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: 0;
}

.light .btn:hover {
  color: #fff;
}

.btn:last-child {
  margin-right: 0;
}

.btn:active,
.btn.btn-outline-light:active,
.btn.btn-outline-dark:active,
.btn.btn-outline-accent:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]:active,
button:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-outlined {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: #ffffff;
}

/* - Button Sizes
------------------------------------------------------------- */
.btn.btn-small {
  padding: 0.325em 1.7em;
  font-size: 0.65em;
}

.btn.btn-medium {
  padding: 0.5em 1.75em;
  font-size: 0.75em;
}

.btn.btn-large {
  padding: 1em 2.5em;
}

.btn.btn-xlarge {
  padding: 1.5em 2.7em;
  font-size: 0.9em;
}

.btn.btn-image {
  background-color: transparent;
  padding: 0;
  max-height: 50px;
}

.btn.btn-image img {
  max-height: 50px;
}

/* - Button Shapes
------------------------------------------------------------- */
.btn.btn-rounded,
.btn.btn-rounded::after {
  border-radius: 4px;
}

.btn.btn-pill,
.btn.btn-pill::after {
  border-radius: 2em;
}

/* button outline */
.btn.btn-outline-dark,
.btn.btn-outline-light,
.btn.btn-outline-accent {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
}

.btn.btn-outline-dark:hover::after,
.btn.btn-outline-light:hover::after {
  background-color: transparent;
}

.btn.btn-outline-dark {
  border-color: rgba(0, 0, 0, 0.3);
  color: #121212;
}

.btn.btn-outline-dark:hover {
  background: rgba(0, 0, 0, .03);
  background: #121212;
  border-color: #121212;
  color: #fff;
}

.btn.btn-outline-light {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.btn.btn-outline-light:hover {
  background: rgba(255, 255, 255, .045);
  background: #fff;
  border-color: #fff;
  color: #121212;
}

.btn.btn-outline-accent {
  box-sizing: border-box;
  background: transparent;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.btn.btn-outline-accent:hover {
  border-color: var(--dark-color);
  color: var(--dark-color) !important;
}

.btn.btn-outline-light {
  background: transparent;
  border-color: #f4ebf2;
  color: #f4ebf2;
}

.btn.btn-outline-light:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

.btn.btn-full {
  display: block;
  margin: .85em 0;
  width: 100%;
  text-align: center;
}

/* button with line */
.btn-with-line {
  color: #fff;
  position: relative;
}

.btn-with-line:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -66px;
  border-bottom: 2px solid #fff;
  width: 50%;
  z-index: 9;
  transition: 0.3s ease-out;
}

.btn-with-line:hover {
  color: #fff;
}

.btn-with-line:hover:after {
  width: 30%;
  right: -41px;
}

/* - Buttons Color Scheme
------------------------------------------------------------- */
.btn.btn-common {
  background: var(--accent-color);
  color: #fff;
}

.btn.btn-common:hover {
  background: #151515;
  color: #fff;
}

.btn.btn-accent {
  color: #ffffff;
  background-color: var(--accent-color);
}

.btn.btn-accent:hover {
  color: #ffffff !important;
  background-color: #121212;
}

.btn.btn-gray,
.btn.btn-grey {
  background: #9e9e9e;
  color: #fff;
}

.btn.btn-black {
  background: #121212;
  color: #fff;
}

.btn.btn-black:hover {
  background-color: #797979;
}

.btn.btn-white {
  background: #f8f8f8;
  text-shadow: none;
  color: #121212 !important;
}

.btn.btn-white:hover {
  background: var(--accent-color);
  text-shadow: none;
}

/* - Buttons Aligns
------------------------------------------------------------- */
.btn-left {
  text-align: left;
  display: block;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-right {
  text-align: right;
  display: block;
}


/*----------------------------------------------*/
/* 1.6 Image hover Effect */
/*----------------------------------------------*/

.image-hvr-effect {
  display: flex;
  overflow: hidden;
}

.image-hvr-effect img.post-image {
  transform: scale(1.1);
  will-change: transform;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-hvr-effect:hover img.post-image {
  transform: scale(1);
}

/*----------------------------------------------*/
/* 2 Site Structure */
/*----------------------------------------------*/
/*--------------------------------------------------------------
This is main CSS file that contains custom style rules used in this template
--------------------------------------------------------------*/

/*----------------------------------------------*/
/* 2.1 Section */
/*----------------------------------------------*/


/*--- Section Title
-----------------------------------------------*/
.section-header {
  position: relative;
}

.section-title {
  font-size: 2.8em;
  line-height: 1;
  font-weight: 900;
}

.section-header .title span {
  font-size: 14px;
  color: #afafaf;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}

.section-header span:before {
  content: "";
  border-bottom: 2px solid var(--accent-color);
  position: absolute;
  top: 6px;
  left: 3px;
  width: 14px;
  align-items: center;
}

/* - Section Padding
--------------------------------------------------------------*/
.padding-xsmall {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}

.padding-xlarge {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}

.padding-2xlarge {
  padding-top: 15em;
  padding-bottom: 15em;
}

@media only screen and (max-width: 768px) {
  .padding-small,
  .padding-medium,
  .padding-large,
  .padding-xlarge {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

/* - Section margin
--------------------------------------------------------------*/
.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}

.margin-medium {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}

.margin-large {
  margin-top: 6em;
  margin-bottom: 6em;
}

.margin-xlarge {
  margin-top: 7.5em;
  margin-bottom: 7.5em;
}

@media only screen and (max-width: 768px) {
  .margin-small,
  .margin-medium,
  .margin-large,
  .margin-xlarge {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* - Section bg colors
--------------------------------------------------------------*/
.bg-dark {
  background: var(--dark-color);
}

.content-light a,
.content-light {
  color: #fff;
}

.content-light a:hover {

}

/*----- Grid Layout
--------------------------------------------------------------*/
.container {
  max-width: 1220px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.inner-content {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 100px;
}

.grid {
  display: flex;
  justify-content: space-between;
}


header.nav-up {
  /*top: -(var(--header-height-min));*/
  top: -160px;
}

#header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 75vh;
}


/*----- Post Grid
--------------------------------------------------------------*/
.post-grid article {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: .5rem;
  margin: 1rem 0;
}

.post-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.post-item {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.post-item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.post-link {
  margin-top: auto;
  color: var(--light-accent-color);
  line-height: 1.2rem;
  position: relative;
}

.post-link:hover {
  color: var(--light-accent-color);
  text-decoration: underline;
}


.post-link span {
  margin-left: 1.5rem;
}

.post-link svg {
  fill: var(--light-accent-color);
  width: 1rem;
  position: absolute;
  top: 0;
}

.post-item .read-more {
  display: none;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .post-link {
    display: none;
  }
}

@media (min-width: 768px) {
  .post-grid article {
    grid-template-columns: 1fr 5fr;
  }

  .post-title {
    font-size: 1.25rem;
  }

  .post-item {
    padding: 1rem;
  }

  .post-item p {
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    overflow: initial;
  }
}

.iconbox {
  display: flex;
  align-items: flex-start;
}

.iconbox svg {
  width: 40px;
  color: var(--dark-color);
  margin-right: 25px;
}

.iconbox .detail {
  margin-bottom: 30px;
}

.iconbox strong {
  font-size: 1.25em;
  color: var(--dark-color);
}

header {
  height: 75vh;
  position: relative;
}

.hero-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title h1 {
  color: white;
  font-size: 3rem;
}

.main-logo {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  transition: 0.5s all ease-out;
  top: 0;
  left: 0;
  z-index: 9
}

@media (min-width: 768px) {
  .hero-title h1 {
    font-size: 5vw;
  }
  .main-logo {
    padding: 40px
  }
}


/*----- Footer Section
--------------------------------------------------------------*/
#footer p {
  margin: 1rem 0;
}


/* custom styles */
hr {
  border-top: 8px solid #efefef;
}

.btn-cta {
  width: 16.875rem;
}

#about img {
  margin-bottom: 2rem;
}


@media (min-width: 992px) {
  #about img {
    padding-right: 2rem;
  }
}

